@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}
h1 {
  font-family: "Masturbator";
  font-size: 40px
}

